@font-face {
  font-family: "NanumBarunGothic";
  src: url('./styles/fonts/NanumBarunGothic.woff') format("woff");
}

@font-face {
  font-family: "BinggraeMelona-Bold";
  src: url('./styles/fonts/BinggraeMelona-Bold.woff') format("woff");
}