# This is a basic workflow to help you get started with Actions

name: github pages CD (continuous depolyment)

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  #pull_request:
  #  branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # 저장소 체크아웃
      - name: Checkout source code
        uses: actions/checkout@v2

      # node.js 환경설정
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      # 패키지 설치 (캐시)
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{runner.OS}}-build-${{hashFiles('**/yarn.lock')}}
          restore-keys: |
            ${{ runner.OS }}-build-${{ runner.OS }}-
            
      - name: Install dependencies
        run: yarn install --prod --pure-lockfile
      
      # 빌드
      - name: Build
        run: CI='' yarn run build
        env:
          NODE_ENV: production
      
      # gh-pages로 배포
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        env:
          PERSONAL_TOKEN: ${{secrets.GIT_TOKEN}}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./build
          SCRIPT_MODE: true

